<!doctype html>
<html lang="vi">
<head>
    <title><%=user.name%>'s Post</title>
    <link rel='stylesheet' href='/stylesheets/home_page.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/images/ecoso_logo.png"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/navbar.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
    <% include ./navbar.ejs %>


    <div class="content container" style="max-width: 959px; min-width: 640px;">
        <h6 id="titlePosts" class="sectionTitle"><%=user.name%>'s Post</h6>
        <hr style="margin: 0"/>
        <div id="postContainer">
            <div class="post">
                <% if (post.user === uid) { %>
                    <div class="row text-center">
                        <div class="col-6">
                            <button id="editButton" style="color: darkgreen; background: none;border: 0;" type="button" class="card-link">
                                <i class="fa fa-edit"></i>&nbsp;Edit
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="deleteButton" style="color: darkgreen; background: none;border: 0;" type="button" class="card-link">
                                <i class="fa fa-remove"></i>&nbsp;Remove
                            </button>
                        </div>
                    </div>
                <div id="modalDelete" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete this post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure???
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="deletePost('<%=post.id%>')">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <div id="modalEdit" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit this post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="postContent" class="col-form-label">Content:</label>
                                            <textarea class="form-control" id="postContent"><%=post.content%></textarea>
                                        </div>
                                        <span class="text-danger" id="warn"></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success" onclick="updatePost('<%=post.id%>')">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}%>
                <img class="mx-auto d-block" src="<%=post.image%>"/>
                <div class="postContent d-flex">
                    <img class="rounded-circle" src="<%=user.avatar%>" alt="user_avatar" />
                    <div class="postContentInside ml-3">
                        <a href="/users/<%=post.user%>"><%=user.name %></a>
                        <span class="ml-2"><%=post.time%></span>
                        <p id="content"><%=post.content%></p>
                    </div>
                </div>
                <div id="likeCount" class="ml-2 mr-2" style="color: darkgreen"><i class="fa fa-gittip"></i>  <%=post.likes.count%><a class="float-right" onclick=""><i class="fa fa-comment"></i>&nbsp;<%=post.comments.count%></a></div>
                <div class="row text-center p-2 mb-2">
                    <div class="col-6"><a style="color:darkgreen;cursor: pointer" onclick="likePost()" class="card-link"><i class="fa fa-gittip"></i>  Like</a></div>
                    <div class="col-6"><a style="color:darkgreen;cursor: pointer" onclick="commentPost()" class="card-link"><i class="fa fa-comment"></i>  Comment</a></div>
                </div>
            </div>

            <div class="commentContainerHeader" style="padding: 0 32px 0 32px">
                <div class="d-flex justify-content-between">
                    <img style="width: 80px;height: 80px;background: white;vertical-align: baseline" class="rounded-circle" src="<%=user.avatar%>"  alt="user_avatar"/>
                    <textarea style="width: 700px;font-size: 16px;border: 1px solid darkgreen; border-radius:8px;resize: none;color: black; padding: 8px" id="commentText" placeholder="Type your comment..."></textarea>
                    <button style="vertical-align: top" class="btn btn-success" onclick="comment()">Post</button>
                </div>
                <h6 id="titlePosts" class="sectionTitle">Comments</h6>
                <hr style="margin: 0"/>
            </div>
            <div id="cmt" style="padding: 0 32px 0 32px;" class="commentContainer">
            </div>
        </div>
    </div>
</div>
<% include ./firebase_init %>
<script src="/javascripts/login.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/post.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>