<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/home_page.css"/>
    <title>Ecoso - Home</title>
    <link rel='stylesheet' href='/stylesheets/home_page.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="/images/ecoso_logo.png"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/navbar.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <% include ./navbar %>

    <div class="container content" style="margin-top: 20rem">
        <img class="rounded-circle mx-auto d-block" id="avatarProfile" src="<%=avatar%>" alt="profileAvatar" />
        <div class="pre-fix">
            <h2 id="userDisplayName"><%=name%></h2>
            <div id="infoWrapper">
                <p id="userID"><i class="material-icons">perm_identity</i>&nbsp;&nbsp;ID: <%=id%></p>
                <p><i class="material-icons">cake</i>&nbsp;&nbsp;Date Of Birth: <%=dateOfBirth%></p>
                <p><i class="material-icons">phone</i>&nbsp;&nbsp;Phone Number: <%=phoneNumber%></p>
                <p><i class="material-icons">room</i>&nbsp;&nbsp;Address: <%=address%></p>
            </div>
        </div>
    </div>

    <div class="content2 container">
        <h6 id="titlePosts" class="sectionTitle"><%=name%>'s Posts</h6>
        <hr style="margin: 0"/>
        <div id="postContainer">
        </div>
    </div>
</div>
<% include ./firebase_init %>
<script src="/javascripts/login.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/profile.js"></script>
</body>
</html>